<!DOCTYPE html>
<html lang="en">
  
  <header>
    <title>LOL Shield Web App</title>
    <link href="/styles/style.css" media="all" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  </header>

  <body>
    <div class="wrap">
      <div class="intro">
        <h1>LOL-O-TRON 3000</h1>
        <p>This web app sends your drawings right to the knowable office. Just activate the dots below by clicking on them. Go crazy and send us beautiful things. Or <a href="http://knowable.org">read the documentation here</a>.</p>
      </div>

      <div class="lolshield-case">
        <ol class="lolshield-LEDs">
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>     
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>     
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>
          <li class="LED"></li>  
          <div class="clearfix"></div>
        </ol>

        <script type="text/javascript">
          $( ".LED" ).click(function() {
            $( this ).toggleClass( "active" );
          });
        </script>
      </div>
      
      <div class="send-image">
        <a href="/" class="btn">Click to send your LOL image to the knowable office!</a>
      </div>

      <p class="madeby">Made by <a href="https://twitter.com/andrewradev">@andrewradev</a> and <a href="https://twitter.com/kryobot">@kryobot</a></p>

    </div><!--/wrap-->
  </body>

</html>