<!DOCTYPE html>
<html lang="en">

  <header>
    <title>LOL-O-TRON 3000</title>
    <!-- Meta Tags -->
    <meta name="description" content="LOL-O-TRON 3000 is a web that sends drawings right to the knowable office." />
    <meta name="author" content="knowable" />

    <!-- Styles & Fonts -->
    <link href="/styles/style.css" media="all" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
    <link href="/images/favicon.png" rel="icon" type="image/png"/>

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  </header>

  <body>
    <div class="wrap">
      <div class="intro">
        <h1>LOL-O-TRON 3000</h1>
        <p>This web app sends your drawings right to the knowable office. Just activate the dots below by clicking on them. Go crazy and send us beautiful things. Or <a href="http://knowable.org">read the documentation here</a>.</p>
      </div>

      <form action="/submit" method="POST">
        <div class="lolshield-case">
            <ol class="lolshield-LEDs">
              <% 9.times do |row| %>
                <% 14.times do |col| %>
                  <li class="LED">
                    <input type="checkbox" style="display: none;" name="led[<%= row %>][<%= col %>]" />
                  </li>
                <% end %>
              <% end %>

              <div class="clearfix"></div>
            </ol>

          <script type="text/javascript">
            $( ".LED" ).click(function(e) {
              e.preventDefault();

              if ($(this).hasClass('active')) {
                $( this ).removeClass( "active" );
                $( this ).find( 'input[type=checkbox]' ).attr('checked', false);
              } else {
                $( this ).addClass( "active" );
                $( this ).find( 'input[type=checkbox]' ).attr('checked', true);
              }
            });
          </script>
        </div>

        <div class="send-image">
          <input type="submit" class="btn" value="Click to send your LOL image to the knowable office!" />
        </div>
      </form>

      <p class="madeby">Made by <a href="https://twitter.com/andrewradev">@andrewradev</a> and <a href="https://twitter.com/kryobot">@kryobot</a></p>

    </div><!--/wrap-->
  </body>

</html>
