html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: calc(100% - 3px);
  background: #fff;
  font-family: 'PT Mono', monospace;
  line-height: 1.5em; }

a {
  color: #e3493c; }

.wrap {
  width: 800px;
  margin: auto;
  margin-top: 80px;
  padding: 0 0 357px 0;
  background: url(/images/usb.png) no-repeat 700px bottom; }

.clearfix {
  clear: both; }

.intro {
  margin: 0 0 40px 0; }

.lolshield-case {
  height: 520px;
  width: 800px;
  margin: 0 0 40px 0;
  border: 3px solid #e3493c;
  border-radius: 2px; }
  .lolshield-case .lolshield-LEDs {
    width: 775px;
    margin: auto;
    margin-top: 10px; }
  .lolshield-case li {
    float: left;
    width: 52.5px;
    height: 52.5px;
    margin: 0 3px 3px 0;
    border: 3px solid #e3493c;
    border-radius: 50%;
    cursor: pointer; }
  .lolshield-case li:nth-child(14n) {
    margin: 0 0 3px 0; }
  .lolshield-case li.active {
    background: #e3493c; }

a.btn, .btn {
  padding: 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #e3493c;
  border: 3px solid #ae382e;
  border-radius: 2px; }
